[client]
database = tu2k20_zaid
user = tu2k20
password = imissdubai
default-character-set = utf8

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}